
.title {
    font-family: "Audiowide", sans-serif;
    background: #19B8D7;
    background: radial-gradient(circle farthest-side at right center, #19B8D7 10%, #F616AB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align:center
}
.subtitle {
    font-family: "Audiowide", sans-serif;
    background: #19B8D7;
    background: radial-gradient(circle farthest-side at right center, #19B8D7 50%, #F616AB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    text-align:center;

}
body {
    background-color: rgb(36, 35, 35);
}
.emojii {
 text-align: center;
 font-size: 160px;
   -webkit-background-clip: text;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: movess 5s ease 0s infinite normal forwards;
}
@keyframes movess{
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}